body {
    padding-top: 70px;
}
.navbar {
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(66, 66, 66, 0.1);
}
/*row: col, monsterBox*/
.row {
    height: 300px;
}

.overridingHeight {
    height:100%; /*Added 2/20/2019 because the col-6 and col-3 weren't following the parent's height*/
}

/*monsterBox: img, monsterName*/
.monsterBox {
    height: 92%;
    border: 1px solid rgba(0,0,0,.125);
}

.monsterName {
    height: 20%;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.imageBox {
    height: 80%;
}

.monsterBox img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col-md-3 a {
    color: rgba(0,0,0,.5);
    text-decoration: none;
}

.col-md-3 a:hover .monsterName{
    color: rgba(0,0,0,.7);
    background-color: rgba(0,0,0,.1);
}

