<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/style/mainMonsters1.css">
    </head>
    <body>
        <%- include ./partials/navbar %>
        <div class="container">
            Error - Did not find what you were looking for!

        </div> <!--container-->

        <script type="text/javascript">
        // set link as active on navbar
        var activeLink = document.getElementById("allMonstersLink");
        activeLink.classList.add("active");
 
        </script>

    </body>
</html>